<div class="cl-main-widget-ach-header">
  <div class="cl-main-widget-ach-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-ach-header-date"></div>
  <div class="cl-main-widget-ach-header-close"></div>
</div>
<div class="cl-main-widget-ach-details">
  <div class="cl-main-widget-ach-details-info">
    <div class="cl-main-widget-ach-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-ach-details-content">
    <div class="cl-main-widget-ach-details-content-label"></div>
    <div class="cl-main-widget-ach-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-ach-list">
  <div class="cl-main-widget-ach-list-body">
    <div class="cl-main-widget-ach-list-body-res"></div>
    <div class="cl-main-widget-ach-list-popup-wrapp">
      <div class="cl-main-widget-ach-list-popup">
        <div class="cl-main-widget-ach-list-popup-title">{{ leavePopupTitle }}</div>
        <div class="cl-main-widget-ach-list-popup-close"></div>
        <div class="cl-main-widget-ach-list-popup-description">{{ leavePopupDescription }}</div>
        <div class="cl-main-widget-ach-list-popup-actions">
          <div class="cl-main-widget-ach-list-popup-cancel">{{ leavePopupActionCancel }}</div>
          <div class="cl-main-widget-ach-list-popup-confirm">{{ leavePopupActionConfirm }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cl-main-widget-ach-footer">
  <div class="cl-main-widget-ach-footer-content">{{ globalCopy }}</div>
</div>
<div class="cl-main-widget-ach-details-container">
  <div class="cl-main-widget-ach-details-wrapper">
    <div class="cl-main-widget-ach-details-header">
      <a class="cl-main-widget-ach-details-back-btn"></a>
      <div class="cl-main-widget-ach-details-header-label"></div>
      <div class="cl-main-widget-ach-details-header-date"></div>
      <div class="cl-main-widget-ach-details-header-info">i</div>
    </div>
    <div class="cl-main-widget-ach-details-body-container">
      <div class="cl-main-widget-ach-details-body-image-cont"></div>
      <div class="cl-main-widget-ach-details-body-progress-title">{{ progressLabel }}</div>
      <div class="cl-main-widget-ach-details-body-progress">
        <div class="cl-main-widget-ach-details-body-progress-cont">
          <div class="cl-main-widget-ach-details-body-progress-bar"></div>
        </div>
        <div class="cl-main-widget-ach-details-body-progress-label">0/100</div>
      </div>
      <div class="cl-main-widget-ach-details-body-description-title">{{ descriptionLabel }}</div>
      <div class="cl-main-widget-ach-details-body-description-tc-title">{{ tAndCLabel }}</div>
      <div class="cl-main-widget-ach-details-body"></div>
      <div class="cl-main-widget-ach-details-tc"></div>
      <div class="cl-main-widget-ach-details-optin-container">
        <div class="cl-main-widget-ach-details-reward"></div>
        <a class="cl-main-widget-ach-details-optin-action" href="javascript:void(0);">{{ enterLabel }}</a>
      </div>
    </div>
  </div>
</div>