<div class="cl-main-widget-dashboard-header">
  <div class="cl-main-widget-dashboard-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-dashboard-header-close"></div>
</div>
<div class="cl-main-widget-dashboard-body">
  {{#if isInstantWins}}
    <div class="cl-main-widget-dashboard-instant-wins">
      <div class="cl-main-widget-dashboard-instant-wins-title">{{ instantWinsTitle }}</div>
      <div class="cl-main-widget-dashboard-instant-wins-wrapp">
        <div class="cl-main-widget-dashboard-instant-wins-wheel">
          <div class="cl-main-widget-dashboard-instant-wins-wheel-title-mobile">{{ instantWinsWheelTitle }}</div>
          <div class="cl-main-widget-dashboard-instant-wins-wheel-image"></div>
          <div class="cl-main-widget-dashboard-instant-wins-wheel-body">
            <div class="cl-main-widget-dashboard-instant-wins-wheel-title">{{ instantWinsWheelTitle }}</div>
            <div class="cl-main-widget-dashboard-instant-wins-wheel-description"></div>
            <div class="cl-main-widget-dashboard-instant-wins-wheel-button">{{ instantWinsWheelButton }}</div>
          </div>
        </div>
        <div class="cl-main-widget-dashboard-instant-wins-cards">
          <div class="cl-main-widget-dashboard-instant-wins-cards-title-mobile">{{ instantWinsCardsTitle }}</div>
          <div class="cl-main-widget-dashboard-instant-wins-cards-image"></div>
          <div class="cl-main-widget-dashboard-instant-wins-cards-body">
            <div class="cl-main-widget-dashboard-instant-wins-cards-title">{{ instantWinsCardsTitle }}</div>
            <div class="cl-main-widget-dashboard-instant-wins-cards-description"></div>
            <div class="cl-main-widget-dashboard-instant-wins-cards-button">{{ instantWinsCardsButton }}</div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
    <div class="cl-main-widget-ach-list-popup-wrapp">
      <div class="cl-main-widget-ach-list-popup">
        <div class="cl-main-widget-ach-list-popup-title">{{ leavePopupTitle }}</div>
        <div class="cl-main-widget-ach-list-popup-close"></div>
        <div class="cl-main-widget-ach-list-popup-description">{{ leavePopupDescription }}</div>
        <div class="cl-main-widget-ach-list-popup-actions">
          <div class="cl-main-widget-ach-list-popup-cancel">{{ leavePopupActionCancel }}</div>
          <div class="cl-main-widget-ach-list-popup-confirm">{{ leavePopupActionConfirm }}</div>
        </div>
      </div>
    </div>
  {{#if isAchievements}}
    <div class="cl-main-widget-dashboard-achievements">
      <div class="cl-main-widget-dashboard-achievements-title">{{ achievementsTitle }}</div>
      <div class="cl-main-widget-dashboard-achievements-wrapp">
        <div class="cl-main-widget-dashboard-achievements-list"></div>
        <div class="cl-main-widget-dashboard-achievements-list-more">{{ seeAllLabel }}</div>
      </div>
    </div>
  {{/if}}
  {{#if isTournaments}}
    <div class="cl-main-widget-dashboard-tournaments">
      <div class="cl-main-widget-dashboard-tournaments-title">{{ tournamentsTitle }}</div>
      <div class="cl-main-widget-dashboard-tournaments-wrapp">
        <div class="cl-main-widget-dashboard-tournaments-list"></div>
        <div class="cl-main-widget-dashboard-tournaments-list-more">{{ seeAllLabel }}</div>
      </div>
    </div>
  {{/if}}
</div>