<div class="cl-main-widget-missions-header">
  <div class="cl-main-widget-mission-header-back-icon"></div>
  <div class="cl-main-widget-missions-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-missions-header-date"></div>
  <div class="cl-main-widget-missions-header-close"></div>
</div>
<div class="cl-main-widget-missions-details">
  <div class="cl-main-widget-missions-details-info">
    <div class="cl-main-widget-missions-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-missions-details-content">
    <div class="cl-main-widget-missions-details-content-label"></div>
    <div class="cl-main-widget-missions-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-missions-list">
  <div class="cl-main-widget-missions-list-body">
    <div class="cl-main-widget-missions-list-body-res"></div>
  </div>
</div>
<div class="cl-main-widget-missions-footer">
  <div class="cl-main-widget-missions-footer-content">{{ globalCopy }}</div>
</div>
<div class="cl-main-widget-missions-details-container">
  <div class="cl-main-widget-missions-details-container-wrapper">
    <div class="cl-main-widget-missions-details-wrapper">
      <div class="cl-main-widget-missions-details-header">
        <a class="cl-main-widget-missions-details-back-btn"></a>
        <a class="cl-main-widget-missions-details-info-btn">i</a>
      </div>
      <div class="cl-main-widget-missions-details-body-wrapper">
        <div class="cl-main-widget-missions-details-body-image"></div>
        <div class="cl-main-widget-missions-details-body-container">
          <div class="cl-main-widget-missions-details-header-label"></div>
          <div class="cl-main-widget-missions-details-description-label">{{ descriptionLabel }}</div>
          <div class="cl-main-widget-missions-details-tc-label">{{ tAndCLabel }}</div>
          <div class="cl-main-widget-missions-details-description"></div>
          <div class="cl-main-widget-missions-details-tc"></div>
          <div class="cl-main-widget-missions-details-prize">
            <div class="cl-main-widget-missions-details-prize-label">{{ prizeLabel }}</div>
            <div class="cl-main-widget-missions-details-prize-value"></div>
          </div>
          <div class="cl-main-widget-missions-graph-image"></div>
        </div>
      </div>
    </div>
    <div id="cy"></div>
  </div>
</div>
<div class="cl-main-widget-missions-map-container">
  <div class="cl-main-widget-missions-map-wrapper">
    <div class="cl-main-widget-missions-map-header">{{ mapHeaderLabel }}</div>
    <div class="cl-main-widget-missions-map-graph-item-bg"></div>
    <div class="cl-main-widget-missions-map-graph-item-star-3"></div>
    <div class="cl-main-widget-missions-map-graph-item-star-2"></div>
    <div class="cl-main-widget-missions-map-graph-item-star-1"></div>
    <div class="cl-main-widget-missions-map-graph" id="cy-map"></div>
  </div>
</div>
