<div class="cl-main-widget-lb-header">
  <div class="cl-main-widget-lb-header-list">
    <div class="cl-main-widget-lb-header-list-icon"></div>
    <div class="cl-main-widget-lb-header-back-icon"></div>
  </div>
  <div class="cl-main-widget-lb-header-label">{{ tournamentsLabel }}</div>
  <div class="cl-main-widget-lb-header-date"></div>
  <div class="cl-main-widget-lb-header-close"></div>
</div>
<div class="cl-main-widget-lb-details">
  <div class="cl-main-widget-lb-details-info">
    <div class="cl-main-widget-lb-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-lb-details-image-container"></div>
  <div class="cl-main-widget-lb-details-content">
    <div class="cl-main-widget-lb-details-content-label">
      <span class="cl-main-widget-lb-details-content-label-text"></span>
      <span class="cl-main-widget-lb-details-content-date"></span>
      <div class="cl-main-widget-lb-details-content-date-headers">
        <div class="cl-main-widget-lb-details-content-date-headers-item months hidden">{{ monthsFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item days">{{ daysFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item hours">{{ hoursFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item minutes">{{ minutesFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item seconds">{{ secondsFull }}</div>
      </div>
    </div>
  </div>
  <div class="cl-main-widget-lb-details-description-container">
    <div class="cl-main-widget-lb-details-description-header">
      <div class="cl-main-widget-lb-details-description-header-title"></div>
      <div class="cl-main-widget-lb-details-description-info">i</div>
    </div>
    <div class="cl-main-widget-lb-details-description-banner">
      <div class="cl-main-widget-lb-details-description-label">
        <span class="cl-main-widget-lb-details-description-label-text"></span>
        <span class="cl-main-widget-lb-details-description-date"></span>
        <div class="cl-main-widget-lb-details-description-date-headers">
          <div class="cl-main-widget-lb-details-description-date-headers-item months hidden">{{ monthsFull }}</div>
          <div class="cl-main-widget-lb-details-description-date-headers-item days">{{ daysFull }}</div>
          <div class="cl-main-widget-lb-details-description-date-headers-item hours">{{ hoursFull }}</div>
          <div class="cl-main-widget-lb-details-description-date-headers-item minutes">{{ minutesFull }}</div>
          <div class="cl-main-widget-lb-details-description-date-headers-item seconds">{{ secondsFull }}</div>
        </div>
      </div>
    </div>
    <div class="cl-main-widget-lb-details-description-title">{{ descriptionLabel }}</div>
    <div class="cl-main-widget-lb-details-tc-title">{{ tAndCLabel }}</div>
    <div class="cl-main-widget-lb-details-description"></div>
    <div class="cl-main-widget-lb-details-tc"></div>
    <div class="cl-main-widget-lb-details-brackets"></div>
  </div>
  <span class="cl-main-widget-lb-details-description-close"></span>
  <div class="cl-main-widget-lb-missing-member-details"></div>
</div>
<div class="cl-main-widget-lb-leaderboard">
  <div class="cl-main-widget-lb-leaderboard-header">
    <div class="cl-main-widget-lb-leaderboard-header-labels"></div>
  </div>
  <div class="cl-main-widget-lb-leaderboard-res-container">
    <div class="cl-main-widget-lb-leaderboard-header-top-res"></div>
    <div class="cl-main-widget-lb-leaderboard-body">
      <div class="cl-main-widget-lb-leaderboard-body-res"></div>
    </div>
  </div>
  <div class="cl-main-widget-lb-missing-member"></div>
</div>
<div class="cl-main-widget-lb-optin-container">
  <a class="cl-main-widget-lb-optin-action" href="javascript:void(0);">{{ enterLabel }}</a>
</div>
<div class="cl-main-widget-lb-footer">
  <div class="cl-main-widget-lb-footer-content">{{ globalCopy }}</div>
</div>
<div class="cl-main-widget-lb-details-container">
  <div class="cl-main-widget-lb-details-header">
    <div class="cl-main-widget-lb-details-header-label"></div>
    <div class="cl-main-widget-lb-details-header-date"></div>
  </div>
  <a class="cl-main-widget-lb-details-back-btn"></a>
  <div class="cl-main-widget-lb-details-body-container">
    <div class="cl-main-widget-lb-details-body-image-cont"></div>
    <div class="cl-main-widget-lb-details-body"></div>
  </div>
  <div class="cl-main-widget-lb-details-optin-container">
    <a class="cl-main-widget-lb-details-optin-action" href="javascript:void(0);">{{ enterLabel }}</a>
  </div>
</div>
<div class="cl-main-widget-tournaments-list">
  <div class="cl-main-widget-tournaments-list-body">
    <div class="cl-main-widget-tournaments-list-body-res"></div>
  </div>
</div>
