<div class="cl-rew-list-details-cont">
  <div class="cl-rew-list-details-wrap">
    <div class="cl-rew-list-details-expires"></div>
    <div class="cl-rew-list-details-icon" style="{{ iconLink }}"></div>
    <div class="cl-rew-list-details-label">{{ label }}</div>
    <div class="cl-rew-list-details-type">{{ type }}</div>
    <div class="cl-rew-list-details-prize">{{ prize }}</div>
    {{#if isClimeBtn}}
      <div class="cl-rew-list-details-claim">{{ claimBtnLabel }}</div>
    {{/if}}
  </div>
</div>
