<div class="single-wheel-label">{{ label }}</div>
<div class="single-wheel-description">{{ description }}</div>
<div class="single-wheel-canvas">
  <div class="single-wheel-pointer"></div>
  <canvas class="single-wheel-relative" id="wheel-{{ idx }}" width="{{ wheelSize }}" height="{{ wheelSize }}"></canvas>
</div>
<div class="single-wheel-button" id="spin-{{ idx }}">{{ buttonLabel }}</div>