<div class="dashboard-tournament-list-bg" style="{{ itemBg }}"></div>
<div class="dashboard-tournament-list-title">{{ title }}</div>
<div class="dashboard-tournament-list-ends-wrapp">
  <div class="dashboard-tournament-list-ends-title">{{ endsLabel }}</div>
  <div class="dashboard-tournament-list-ends-value">{{ endsValue }}</div>
</div>
<div class="dashboard-tournament-list-prize-wrapp">
  <div class="dashboard-tournament-list-prize-title">{{ prizeLabel }}</div>
  <div class="dashboard-tournament-list-prize-value">{{ prizeValue }}</div>
</div>
<div class="dashboard-tournament-list-btn">{{ seeMoreLabel }}</div>
